<li class="nav-item active">
            <%= link_to "Acceuil", "/", class: "nav-link" %>
          </li>
          <div class='select'>
          <li class="nav-item active">
            <%= link_to "Actualités", articles_path, class: "nav-link" %>
          </li>
          </div>
          <li class="nav-item dropdown active">
            <a href="#" class="avatar dropdown-toggle", id="navbarDropdown", data-bs-toggle="dropdown", aria-haspopup= true, aria-expanded= false >Laurence Leccia</a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "A propos", pages_laurenceleccia_path, class: "dropdown-item", id: 'Apropos' %>
              <%= link_to "Les toiles", pages_laurenceleccia_lestoiles_path, class: "dropdown-item" %>
              <%= link_to "Les expositions", '#', class: "dropdown-item" %>
              <%= link_to "La presse", '#', class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a href="#" class="avatar dropdown-toggle", id="navbarDropdown", data-bs-toggle="dropdown", aria-haspopup= true, aria-expanded= false >Jean Leccia</a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "A propos", pages_jeanleccia_path, class: "dropdown-item" %>
              <%= link_to "Les toiles", '#', class: "dropdown-item" %>
              <%= link_to "Les expositions", '#', class: "dropdown-item" %>
              <%= link_to "La presse", '#', class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact et adresse", "#", class: "nav-link" %>
          </li>
