
<div class="banner-about d-flex">
  <%= image_tag 'Portrait Jean 1.jpeg' %>
  <%= image_tag 'Portrait Jean 3.jpeg' %>
  <%= image_tag 'Portrait Jean 4.jpeg' %>
  <%= image_tag 'Portrait Jean 2.jpeg' %>
</div>
<div class="container">
  <section id="wrapper">
    <div class="content">
      <!-- Tab links -->
      <div class="tabs">
        <% @texts.each do |text| %>
          <% if text.owner == 'Jean' %>
            <button class="tablinks" data-name='<%= text.title %>'><p data-title='<%= text.title %>'><%= text.title %></p></button>
          <% end %>
        <% end %>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
        <% @texts.each do |text| %>
          <% if text.owner == 'Jean' %>
            <div id="<%= text.title %>" class="tabcontent">
              <h3>Textes</h3>
              <p><%= text.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <%= render 'shared/cv_Jean' %>
</div>
