 <div class="banner expos" style="background-image: url('<%= asset_path randomized_background_image_laurence %>');">
</div>
<div class="container">
  <h3>LES TOILES 2016-2017</h3>
  <div class="carrousel d-flex align-items-center" data-controller='slide'>
    <i class="fas fa-solid fa-angle-left" data-action='click->slide#changeleft'></i>
    <div class="contain-carrousel">
      <div class="pictures1" data-slide-target='left'>
        <%= image_tag 'IMG_4071.jpeg' %>
        <%= image_tag 'IMG_4074.jpeg' %>
        <%= image_tag 'IMG_4046 - crop.jpeg' %>
        <%= image_tag 'IMG_4021 2 - crop.jpeg' %>
      </div>
      <div class="pictures2 d-none" data-slide-target='right'>
        <%= image_tag 'expo-montpellier.jpeg' %>
        <%= image_tag 'gruissan-exposition.jpeg' %>
        <%= image_tag 'montpellier-exposition.jpeg' %>
        <%= image_tag 'IMG_4021 2 - crop.jpeg' %>
      </div>
    </div>
    <i class="fas fa-solid fa-angle-right" data-action='click->slide#changeright'></i>
  </div>
  <h3>LES TOILES 2010-2015</h3>
    <div class="container my-4">
    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Control prev-->
      <div class="d-flex align-items-center">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <!--/.Controls prev -->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

      <!--Control next-->
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
      <!--/.Controls next -->
      </div>
    </div>
    <!--/.Carousel Wrapper-->


  </div>
  <h3>LES TOILES 2016-2017</h3>
</div>
