
<div class="banner-about d-flex">
  <%= image_tag 'IMG_4071.jpeg' %>
  <%= image_tag 'IMG_4074.jpeg' %>
  <%= image_tag 'IMG_4046 - crop.jpeg' %>
  <%= image_tag 'IMG_4021 2 - crop.jpeg' %>
</div>
<div class="container">
  <section id="wrapper">
    <div class="content">
      <!-- Tab links -->
      <div class="tabs">
        <% @texts.each do |text| %>
          <button class="tablinks" data-name='<%= text.title %>'><p data-title='<%= text.title %>'><%= text.title %></p></button>
        <% end %>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
        <% @texts.each do |text| %>
          <div id="<%= text.title %>" class="tabcontent">
            <h3>Textes</h3>
            <p><%= text.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <%= render 'shared/cv' %>
</div>
